


body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
   overflow-x: hidden;

  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }

  p{
    font: 20px "Lato", sans-serif;
    line-height: 2em;
    width: 60%; 
    padding-left: 12em;
  
  }


  .border{
    font-family: teeshirt, sans-serif;
   
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  
  }
  .bgimg-1 {
    background-image: url("sky.gif");
    min-height: 100%;
  }
 
  
  .bgimg-2 {
    background-color: #12073b;
    background-image: url("stars.png");
    min-height: 600px;
  }
  
  .bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
  }

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    
  }


  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    
  }
  
 
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  }

/* animation af bølgende ord  start - https://codepen.io/cbanlawi/pen/MWbemYP*/

  .section1 {
    font-family: "Archivo Black", sans-serif;
    background: #43495f;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
    
  }

  .words {
    color: #43495f;
    font-size: 0;
    line-height: 1.5;
  }
  
  .words span {
    font-size: 5rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px rgba(36, 4, 4, 0.75);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  .words span:nth-child(2) {
    animation-delay: 4s;
  }
  
  .words span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .words span:nth-child(4) {
    animation-delay: 1.5s;
  }
  
  .words span:nth-child(5) {
    animation-delay: 2s;
  }
  
  .words span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(7) {
    animation-delay: 3s;
  }

  /* animation slut */

 /* Forsøg på stjernehimmelhalløj */
 #dream {
  background: linear-gradient(#2b1055,#7597de) ;

 }
 section {
  position: relative; 
  width: 100%;
  height: 100vh;
padding: 100px;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
section::before {
   content: '';
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 100px;
   z-index: 1000;
}

section img {
   position: absolute;
   top: 0;
   left: 0;
   /* width: 100%; */
   height: 100%;
   object-fit: cover;
   pointer-events: none;
}

section img#himmel {
   z-index: 10;
   overflow-x: hidden;
   
}

#text {
  position: absolute;
  text-align: center;
  right: -350px;
  color: #fff;
  white-space: nowrap;
  font-size: 10vw;
  z-index: 9;
  }